<nav class="navbar navbar-light bg-light2 navbar-expand-lg">
  <div class="container-fluid" >    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <a class="navbar-brand" href="http://comfeco.com">
      <img src="#" alt="" width="40">
    </a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:4200/">Inicio<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      <a class="btn btn-outline-success registro " href="#" role="button">Registrar</a>
      <a class="btn btn-outline-success sesion" href="#" role="button">Sesion</a>
    </div>    
</nav>