<nav class="navbar navbar-light bg-light2 navbar-expand-lg">
  <div class="container-fluid" >    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Inicio</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login">
        
      <a class="btn btn-outline-success cerrar-sesion" *ngIf="user" (click)="onLogout()" >cerrar sesion</a>
      
      <a class="nav-link">{{user?.email}}</a>
      </ul>
      <ng-template #login>
        <ul class="navbar-nav mx-auto">
          <a class="btn btn-outline-success registro " *ngIf="!user" routerLink="/login" role="button">sesion</a>
          <a class="btn btn-outline-success sesion" *ngIf="!user" routerLink="/register">registrar</a>
        </ul>
        </ng-template>
    </div>    
</nav>